html {
    scroll-behavior: smooth;
}

body {
    background: #7cc6ca;
    font-family: "Baloo Tamma 2", cursive;
}

.m-heading {
    font-family: "Roboto Slab", serif;
}

.text-white {
    color: white;
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('int.avif');
    background-attachment: fixed;
    background-size: cover;
}
.main_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_row {
    font-size: 5rem;
}

.main_row img {
    width: auto;
    height: 100vh;
}